*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #4f4f4f;
}

.header h1
{
    padding: 20px 30px;
    font-size: 30px;
}

.firstsection
{
    display: flex;
    padding: 20px 0;
}

.firstsection .left
{
    flex-basis: 60%;
    text-align: center;
}
.left h1
{
    padding: 60px 0 10px 0;
    font-size: 30px;
}
.left .option 
{
    padding: 30px 0;
}
.left .option button
{
    margin: 20px 0;
}

.firstsection .right
{
    flex-basis: 35%;
    text-align: center;
}
.right i
{
    font-size: 150px;
    padding: 35px;
    border: 5px solid;
    border-radius: 50%;
}
.right h1
{
    font-size: 30px;
    padding: 30px 0;
}
.right h4
{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    line-height: 30px;
}
.right h4 span
{
    font-weight: 1000;
}

.btn
{
    background: lightgray;
    border: 2px solid darkgray;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 30px;
}

.btn:hover
{
    border-color: gray;
    cursor: pointer;
}

.oversecond
{
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
}

.secondsection
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    padding: 0 40px;
}

.secondsection div
{
    padding: 40px 20px;
    background: #f0f0f0;
    border-radius: 30px;
    transition: 0.5s;
}
.secondsection div:hover
{
    cursor: pointer;
    transform: translateY(-10px);
    border: 2px solid;
}

.secondsection h1
{
    font-size: 30px;
    padding: 40px 0;
}
.secondsection p
{
    font-size: 25px;
    color: gray;
}
